<!DOCTYPE html>
<html>
<head>
<title>个人中心-IT书</title>
<#include "/public/common.html">
</head>
<body class="site-menubar-fold site-menubar-keep">
	<#include "/public/left.html">
	<div class="page profile profile_index">
		<div class="page-content">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="nav-tabs-horizontal nav-tabs-inverse">
						<ul class="nav nav-tabs nav-tabs-solid profile_nav"
							id="nav-tabs-solidlist">
							<li class="active"><a href="javascript:void(0);"
								class="padding-horizontal-30"> <i
									class="iconfont icon-vip fz20 tp1"></i>报名课程
							</a></li>
							<li><a href="javascript:void(0);"
								class="padding-horizontal-30"> <i
									class="iconfont icon-xingxing fz20 tp1"></i>收藏课程
							</a></li>
							<li><a href="javascript:void(0);"
								class="padding-horizontal-30"> <i
									class="iconfont icon-like fz20 tp1"></i>喜欢课程
							</a></li>
							<li><a href="javascript:void(0);"
								class="padding-horizontal-30"> <i
									class="iconfont icon-comment fz20 tp1"></i>评论过的课程
							</a></li>
						</ul>

						<div class="tab-content">
							<div class="row">
								<div class="col-md-12">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>图片ID</th>
												<th>图片</th>
												<th>图片路径</th>
												<th>图片描述</th>
												<th>图片状态</th>
												<th style="display: block">用户总数:<span id="count">${count}</span></th>
											</tr>
										</thead>
										<tbody class="tbody">

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="pagination"></div>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(function() {

			//定义参数
			var pageNo = 0; //分页起始值
			var pageSize = 5; //分页条数

			//加载轮播图数据
			loadBanner();
			//加载分页
			loadPage();
			//加载轮播图修改状态
			loadUpdateStatus();

			//轮播图的数据
			function loadBanner() {
				var params = {
					"pageNo" : pageNo * pageSize,
					"pageSize" : pageSize
				};
				$.ajax({
					type : "post",
					url : "/admin/banner/template",
					data : params,
					success : function(data) {
						$(".tbody").html(data);
					}
				});
			}
			;

			//分页
			function loadPage() {
				var count = $("#count").text();
				$(".pagination").mkPage(count, {
					items_per_page : 5,
					num_display_entries : 5,
					num_edge_entries : 0,
					prev_text : "上一页",
					next_text : "下一页",
					showGo : true,
					showSelect : false,
					callback : function(pno, psize) {
						pageNo = pno;
						loadBanner();
						loading("加载成功!",2);
					},
				});
			}
			;

			//修改轮播图的状态
			function loadUpdateStatus() {
				$(".tbody").on("click", ".checked", function() {
					var id=$(this).data("bannerid");
					var status=$(this).attr("name");
					var value = $("input[type='radio'][name='"+status+"']:checked").val();
					var banner={"id":id,"status":value};
					$.ajax({
						type:"post",
						url:basePath+"/admin/banner/update",
						data:banner,
						success:function(data){
							if(data!="success"){
								loading("失败！",2);
							}else{
								loading("已修改!",2);
							}
						
					} 
				});
				});
			};

		});
	</script>
</body>
</html>
