<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 后台用户管理的SQL语句 -->
<mapper namespace="com.cms.mapper.banner.IBannerMapper">
	<!-- 查询所有用户 -->
	<select id="selectBanners" resultType="banner" parameterType="params">
		SELECT
		id,
		img,
		url,
		title,
		description
		FROM
		mk_banner
		LIMIT #{pageNo},#{pageSize}
	</select>


	<!-- 查询用户总数 -->
	<select id="countSeclect" resultType="int">
		SELECT
		COUNT(*)
		FROM
		mk_banner
	</select>

    <!-- 修改轮播图的状态 -->
    <update id="updateStatus" parameterType="banner">
        UPDATE mk_banner
		SET `status`=status
		WHERE
		id =#{id}
    </update>

</mapper>